.row {
    display: flex;
}
  
  .column {
    flex: auto;
    padding: 30px;
  }
  
  .box {
    display: row;
    justify-content: space-around;
    grid-column: column;
    box-sizing: border-box;
    vertical-align: baseline;
    padding: 20px;
    margin: 0 0 30px;
    border: none;
}
  
  .column {
    text-align: left;
    max-width: 100%;
    height: 805px;
    line-height: 160%;
    font-size: 18px;
    font-weight: 100;
    margin: 5%;
    background-color: #d9d9d95a;
    border-radius: 14px;
}

  .box h1 {
    margin: 2%;
    font-weight: 600;
    font-size: 33px;
    align-items: center;
    text-align: center;
  }

  .column h2 {
    display: flex;
    margin: 20px;
    font-size: 28px;
    align-items: center;
    text-align: center;
  }
 
  * {
    box-sizing: border-box;
    }
      
    
.container {
        padding: 16px;
        background-color: none;
      }
      
      input[type=text], input[type=name] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #D9D9D9;
        border-radius: 4px;
      }
      
      input[type=text]:focus, input[type=name]:focus {
        background-color: #edd794;
        outline: none;
      }
      
      .submitbtn {
        background-color: #24503D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 4px;
        font-size: 20px;
      }
      
      .submitbtn:hover {
        opacity: 1;
        background-color: #e7b10a;
      }


      .passwdbtn {
        background-color: #e7b10a;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 4px;
        font-size: 20px;
      }
      
      .passwdbtn:hover {
        opacity: 1;
        background-color: #24503dbe;
      }
  