.row {
    display: flex;
  }
  
  .column {
    flex: auto;
    padding: 30px;
  }
  
  .box {
    display: row;
    justify-content: space-around;
    grid-column: column;
    box-sizing: border-box;
    vertical-align: baseline;
    padding: 20px;
    margin: 0 0 30px;
    border: none;
}
  
  .column-one {
    text-align: right;
    max-width: 26%;
    height: 700px;
    line-height: 160%;
    font-size: 20px;
    font-weight: 200;
    margin: 5%;
  }

  .column-two {
    text-align: left;
    max-width: 100%;
    height: 700px;
    line-height: 160%;
    font-size: 20px;
    font-weight: 100;
    margin: 5%;
}


  .box h1 {
    margin-top: 30%;
    font-weight: 600;
    font-size: 35px;
  }
 
  * {
    box-sizing: border-box;
    }
      
    
.container {
        padding: 16px;
        background-color: none;
      }
      
      input[type=text], input[type=name] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #D9D9D9;
        border-radius: 4px;
        font-size: 17px;
      }
      
      input[type=text]:focus, input[type=name]:focus {
        background-color: #edd794;
        outline: none;
      }
      
      textarea[type=query]{
        width: 100%;
        height: 200px;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #D9D9D9;
        border-radius: 4px;
        font-size: 17px;
        font-family: inherit;
        }

        textarea[type=query]:focus {
            background-color: #edd794;
            outline: none;
        }


      .submitbtn {
        background-color: #24503D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 4px;
        font-size: 22px;
      }
      
      .submitbtn:hover {
        opacity: 1;
        background-color: #e7b10a;
      }

      .errorMsg {
        color: #f21e08;
        font-size: 17px;
        font-weight: 300;
      }

      .success-msg {
        color: #24503D;
        font-size: 27px;
        font-weight: 500;
        background-color: rgba(230, 243, 243, 0.562);
        }



      @media only screen and (max-width: 600px) {
        .box {
          display: block;
          width: 100%;
          margin-bottom: 15%;
        }
        
        .column-one {
          display: block;
          text-align: left;
          max-width: 100%; 
          height: 100%;
          line-height: 160%;
          font-size: 14px;
          font-weight: 300;
          margin: 5%;
        }
      
        .column-two {
          display: block;
          text-align: left;
          max-width: 100%;
          height: 100%;
          line-height: 160%;
          font-size: 14px;
          font-weight: 100;
          margin: 5px;
      }
      

        .row {
          display: block;
          height: 100%;
          }
        }

        .box h1 {
          display: block;
          margin-top: 15px;
          font-size: 30px;
          font-weight: bold;
        }
    

    
  