* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu';
}

.main {
  background-color: white;
  color: black;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  #media {
    flex-wrap: nowrap
    !important;
    flex-direction: start
    !important;
  }
}