@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.page {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 800px;
  padding: 40px;
}

.page-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.page-title .favorite-image {
  margin-left: 65px;
  border-radius: 5px;
}

.page-title h2 {
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 40px;
  margin-left: 70px;
}

h2 a {
  font-weight: bold;
}

.favorites-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-top: 20px;
}

.recipe-display {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  padding: 40px;
  width: 1350px;
  min-height: 600px;
}
