@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.page {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 800px;
  padding: 50px;
}

.page-title {
  width: 100%;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.page-title h2 {
  font-size: 28px;
  font-weight: lighter;
}

h2 a {
  font-weight: bold;
}

.recipe-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 42px;
  padding: 20px;
  width: 1350px;
}
