@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.page {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 800px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.page-title .favorite-image {
  margin-left: 65px;
  border-radius: 5px;
}

.page-title h2 {
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 40px;
  margin-left: 70px;
}

h2 a {
  font-weight: bold;
}

.recipe-display {
  margin-left: 70px;
}

.favorites-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-top: 20px;
}

@media (max-width: 767.98px) {
  .page {
    padding: 0;
  }

  .page-title {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
  }

  .page-title h2 {
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .page-title .favorite-image {
    width: 80%;
    height: 100px;
    padding: 0;
    margin-left: 0;
  }

  .favorites-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .recipe-display {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}
