.registerBtn {

  background: rgba(36, 80, 61, 0.9);
  border-radius: 6px;
  color: #fff;
  text-align: center;
}

.forgetBtn {

  background: rgba(231, 177, 10, 0.7);
  border-radius: 6px;
  color: #fff;
  text-align: center;
}

.formCard {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  color: #000;
}