@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

.filter {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: black;
  background-color: #d9d9d9;
  width: 420px;
  height: auto;
  margin-left: 82px;
  margin-top: 123px;
  margin-bottom: 188px;
  padding-left: 42px;
  border-radius: 20px;
  padding-bottom: 30px;
}

.filter-titles {
  margin-top: 20px;
}

.filter-titles h1 {
  font-weight: 500;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.filter-titles h2 {
  font-weight: 400;
  font-size: 26px;
  padding-bottom: 10px;
}

.filter .btn-filter {
  background-color: #24503d;
  padding: 11px 11px;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 24px;
  margin-left: 254px;
}
