* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu";
}

.main {
  background-color: white;
  color: black;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-top: 50px;
  padding-left: 120px;

}

h2 a {
  font-weight: bold;
}
