@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

.recipes-panel {
  display: flex;
  flex-direction: column;
}

.show-recipes {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 123px;
  max-width: 940px;
  padding-left: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.show-pages {
  padding-bottom: 40px;
}

@media (max-width: 767.98px) {
  .show-recipes {
    margin-top: 70px;
    margin-bottom: 0;
    padding-left: 0;
  }
}
